
<div class="buttons has-addons is-centered">
  <a class="button {% if page.title == "Monday" %}is-info is-selected{% endif %}" href="monday.html">Monday</a>
  <a class="button {% if page.title == "Tuesday" %}is-info is-selected{% endif %}" href="tuesday.html">Tuesday</a>
  <a class="button {% if page.title == "Wednesday" %}is-info is-selected{% endif %}" href="wednesday.html">Wednesday</a>
  <a class="button {% if page.title == "Thursday" %}is-info is-selected{% endif %}" href="thursday.html">Thursday</a>
  <a class="button {% if page.title == "Friday" %}is-info is-selected{% endif %}" href="friday.html">Friday</a>
</div>

<style>
h6 code {
  background-color: inherit;
  color: hsl(0, 0%, 48%);
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-variant: tabular-nums;
  font-variant-numeric: tabular-nums;
  min-width: 17ex;
  display: inline-block;
  padding: inherit;
}
</style>
